h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 500px;
  width: 700px;
  text-align: center;
  margin: 0 auto;
}
.red {
  background: red;
}
.green {
  background: green;
}
.yellow {
  background: purple;
}
.blue {
  background: blue;
}

.gameBtn {
  width: 200px;
  height: 200px;
  margin: 0px 20px 0px 20px;
  border: 3px solid rgba(22, 19, 19, 0.356);
  border-radius: 20px;
}

.reset {
  margin-top: 30px;
  justify-content: center;
  display: flex;
}

#startBtn {
  height: 40px;
  background-color: #fca311;
  color: white;
  border-radius: 15px;
  font-size: 20px;
}

body {
  background-color: #14213d;

  color: white;
}

.pressed {
  background: white;
  border: grey solid 3px;
  transition: 0.2s;
}
h2 {
  text-align: center;
}
